<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @result.url %>
</p>

<p>
  <strong>Image:</strong>
  <%= @result.image %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
