<h1>Listing searches</h1>

<table>
  <thead>
    <tr>
      <th>Colour</th>
      <th>Search</th>
      <th>Date</th>
      <th>Time</th>
      <th>http response time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @searches.each do |search| %>
      <tr>
        <td><%= search.colour %></td>
        <td><%= search.noun %></td>
        <td><%= search.date %></td>
        <td><%= search.time %></td>
        <td><%= search.responsetime %></td>
        <td><%= link_to 'Show', search %></td>
        <td><%= link_to 'Edit', edit_search_path(search) %></td>
        <td><%= link_to 'Destroy', search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search', new_search_path %>
